* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
  }
  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form_div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    flex-direction: column;
  }
  h2 {
    margin-bottom: 30px;
  }
  h3 {
    margin-top: 10%;
  }
  #form {
  }
  input {
    display: block;
    width: 300px;
    height: 50px;
    border: 1px solid #777;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
  }
  input:nth-child(2) {
    margin: 20px 0;
  }
  
  #form_btn {
    background-color: rgb(162, 160, 162);
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    transition: all 0.3s linear;
    border: 1px solid rgb(123, 122, 122);
    width: 300px;
  }
  #form_btn:hover {
    background-color: #fff9f9;
    color: black;
    border: 1px solid black;
    box-shadow: 0px 2px 4px 0px black;
  }
  
  .questionBtn {
    margin-top: 30px;
    background-color: rgb(162, 160, 162);
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    transition: all 0.3s linear;
    border: 1px solid rgb(123, 122, 122);
    width: 300px;
  }